<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>pyBursa description</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-bright">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand home-tab" href="index.html">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="deactivated menu-buttons"><a href="index.html">Main<span class="sr-only"></span></a></li>
            <li class="deactivated menu-buttons"><a href="contact.html">Contact<span class="sr-only"></span></a></li>
            <li class="deactivated menu-buttons"><a href="student_list.html">Students<span class="sr-only"></span></a></li>
            
        </div>
       </div>
    </nav>
    
    <div>
      <h1 class="main-header">Mark Otto</h2>       
    </div>

    <div class="media">
      <div class="media-left media-middle">
          <img class="media-object" src="../static/images/mark_otto.jpg" alt="Mark Otto" width = 500px>
      </div>
    </div>
    <br>
    <div>
      <h3>Student`s Card</h3>       
    </div>


    <table class="table" style="table-layout: fixed" width = "400"> 
  <tbody>
    <tr >
      <th scope="row"><div style="width: 50px" >Name</div></th>
      <td><div style="width: 50px" >Mark</div></td>
    </tr>
    <tr>
      <th scope="row"><div style="width: 50px" >Surname</div></th>
      <td><div style="width: 50px" >Otto</div></td>
    </tr>
    <tr>
      <th scope="row"><div style="width: 50px" >Rating</div></th>
      <td><div style="width: 50px" >20</div></td>
    </tr>
    <tr>
      <th scope="row"><div style="width: 50px" >Avg Grade</div></th>
      <td><div style="width: 50px" >99</div></td>
    </tr>
    <tr>
      <th scope="row">Package</th>
      <td>Standard</td>
    </tr>

    <tr>
      <th scope="row">Birth Date</th>
      <td>10/07/1985</td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td>London</td>
    </tr>
    <tr>
      <th scope="row">Skype</th>
      <td>markotto</td>
    </tr>
  </tbody>
</table>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>