<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>pyBursa description</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-bright">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand home-tab" href="index.html">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="deactivated menu-buttons"><a href="index.html">Main<span class="sr-only"></span></a></li>
            <li class="deactivated menu-buttons"><a href="contact.html">Contact<span class="sr-only"></span></a></li>
            <li class="activated menu-buttons"><a href="student_list.html">Students<span class="sr-only"></span></a></li>
            
        </div>
       </div>
    </nav>
    
    <div>
      <h1 class="main-header">Students of the PyBursa Course</h1>
      <br>
      <h2 class="big-header">Below you can see the list of students who graduated in May 2018</h2>
      <br>
    </div>
    
    <br>
    <br>

    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Surname</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="student_detail.html">1</th></a>
      <td><a href="student_detail.html">Mark</a></td>
      <td><a href="student_detail.html">Otto</a></td>
      <td><a href="student_detail.html">London</a></td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>New-York</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>Paris</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Steven</td>
      <td>Seagal</td>
      <td>San-Francisco</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Geaorge</td>
      <td>Stone</td>
      <td>Berlin</td>
    </tr>
  </tbody>
</table>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>